[color]
	ui = true
[alias]
	s = status
	c = commit
    ca = commit --amend --no-edit
	l = log --graph --pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%an %ar)%Creset'
    bt = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset%n' --abbrev-commit --date=relative --branches
[core]
	whitespace = -trailing-space
	pager = diff-so-fancy | less --tabs=4 -RFX
[diff]
	mnemonicPrefix = true
	renames = true
	wordRegex = .
	submodule = log
[fetch]
	recurseSubmodules = on-demand
[grep]
	extendedRegexp = true
[log]
	abbrevCommit = true
[merge]
	conflictStyle = diff3
[mergetool]
	keepBackup = false
	keepTemporaries = false
	prompt = false
[push]
	default = upstream
[status]
	submoduleSummary = true
	showUntrackedFiles = all
[color "branch"]
	upstream = cyan
[tag]
	sort = version:refname
[credential]
	helper = cache --timeout=86400
[user]
	email = jerome@jeromepin.fr
	name = Jerome Pin
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
