[core]
	whitespace = -trailing-space
	editor = nvim
[protocol]
    version = 2
[color]
	ui = true
[alias]
	a = "!f(){ git diff --name-only $@ | fzf -m --print0 --ansi --preview \"git diff --color=always -- {-1}\" | xargs -0 git add; };f"
    bt = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset%n' --abbrev-commit --date=relative --branches
	c = commit
    ca = commit --amend
    cae = commit --amend --no-edit
	ch = "!f(){ git branch --sort=-committerdate | fzf --height=20 | xargs git checkout; };f"
	d = "!f(){ git diff --name-only $@ | fzf -m --ansi --preview \"git diff --color=always -- {-1}\"; };f"
    # fixup = "!f(){ git log --color=always --reverse --pretty=tformat:'%Cred%h%Creset - %s %Cgreen(%an %ar)%Creset' master.. | grep --color=auto \"$(git config --get 'user.name')\" | fzf --ansi | cut -d"-" -f1 | xargs git commit --fixup $@; };f"
    fixup = "!f(){ git log --color=always --reverse --pretty=tformat:'%Cred%h%Creset - %s %Cgreen(%an %ar)%Creset' origin/master.. | fzf --ansi | cut -d"-" -f1 | xargs git commit --fixup; };f"
	l = log --graph --pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%an %ar)%Creset'
    merged-branches = "!git branch --merged master"
    p = push
    pl = push --force-with-lease
    r = rebase origin/master
    ri = rebase --autosquash --interactive origin/master
    ru = remote update
    sru = "!f(){ git remote update && git stash && git rebase origin/${1:-master} && git stash pop; };f"
    sri = "!f(){ git remote update && git stash && git rebase --interactive origin/${1:-master} && git stash pop; };f"
	s = "!f(){ gitui; };f"
	st = status
    unstage = reset HEAD --
    uncommit = reset HEAD~
[diff]
	colorMoved = plain
	colormovedws = allow-indentation-change
	# external = "difft"
	mnemonicPrefix = true
	renames = true
	submodule = log
	wordRegex = .
[fetch]
	recurseSubmodules = on-demand
[grep]
	extendedRegexp = true
[log]
	abbrevCommit = true
[merge]
	conflictStyle = diff3
[mergetool]
	keepBackup = false
	keepTemporaries = false
	prompt = false
[push]
    default = current
[pull]
    rebase = true
[status]
	submoduleSummary = true
	showUntrackedFiles = all
[color "branch"]
	upstream = cyan
[tag]
	sort = version:refname
[credential]
	helper = cache --timeout=86400
[user]
    name = "Jérôme Pin"
	email = jeromepin@users.noreply.github.com
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
